body {
    display: grid;
    grid-template-areas: "side-bar content" "info controls";
    grid-template-columns: clamp(24ch, 32ch, 40ch) 1fr;
    grid-template-rows: 1fr auto;
}
.control-bar { grid-area: controls; }
.info-container { grid-area: info; }
.content-container { grid-area: content; }
.side-bar { grid-area: side-bar}
video { display: none; }

.control-bar {
    display: grid;
    grid-template-areas:
        "main side"
        "prog side";
    grid-template-columns: 1fr clamp(24ch, 32ch, 40ch);
}
#controls-main { grid-area: main; }
#controls-side { grid-area: side; }
#controls-progress { grid-area: prog; }

#controls-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
}

input[type=range] {
    background-image: linear-gradient(var(--fill-color), var(--fill-color)),
                      linear-gradient(var(--background), var(--background));
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
    height: 4px;
    width: 112px;
    outline: none;
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
input[type=range]:hover::-webkit-slider-thumb {
  display: block;
}

.control-button-container {
    display: flex;
    justify-content: center;
}

.control-button {  background: none; }
.control-button.play-button { font-size: 2.5rem; }
.control-button.previous-button,
.control-button.next-button { font-size: 1.5rem; }

.info-container { display: flex; }
.info-container--inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info--thumbnail {
    object-fit: cover;
    margin: 10px;
    width: clamp(24px, 15vmin, 64px);
    height: clamp(24px, 15vmin, 64px);
}

.info--title { font-size: 1.2rem; }
.info--artist { font-size: 0.85rem; }

.song-row { display: flex; }

.progress-bar {
    width: min(80%, 554px);
    height: 5px;
    margin: 10px auto 10px auto;
    position: relative;
}

.progress-bar--inner {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 100%;
}

@media only screen and (max-width: 792px) {
    body {
        grid-template-columns: minmax(182px,1fr) 2fr;
    }

    #control-bar {
        grid-template-areas: "main" "prog";
        grid-template-columns: 1fr;
    }

    #controls-side {
        display: none;
    }
}

@media only screen and (max-width: 492px) {
    body {
        grid-template-areas: "content" "info" "controls";
        grid-template-columns: 1fr;
    }
}

.side-bar {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr auto;
    padding: 1em;
}

#queue-title {
    display: grid;
    grid-template-columns: 1em auto 2fr;
    align-items: center;
    grid-gap: 12.5px;
}
#queue-title div {
    background: #219bc4;
    height: 1px;
}
#queue-title h6 {
    margin: 0;
    color: #219bc4;
    letter-spacing: 1.5px;
    user-select: none;
}

#queue-container .queue-entry {
    margin: 1em;
}
#queue-container .queue-entry h6 {
    font-size: 0.85rem;
    font-weight: normal;
}
#queue-container .queue-entry h5 {
    font-size: 1rem;
    font-weight: normal;
}

#add-song-container {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5em;
    align-items: center;
    justify-content: center;
    background: hsl(240,14%,28%);
    padding: 10px;
    border-radius: 5px;
}

#add-song-container:hover {
    background: hsl(240,14%,25%);
    color: #e8e8e8;
}

#add-song-container p { margin: 0; }

/* The material icon font adds what appears to be an invisible character to the
   right of the icon for "add_circle_outlined", so the negative padding is here
   to get rid of the extra space */
#add-song-container p.material-icons { margin-right: -1ch; }

#foreground {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

#new-song-form {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-gap: 25px;
    background: hsl(240,21%,92%);
    padding: 50px;
    border-radius: 5px;
}

#new-song-form h2 {
    color: #555;
    margin: 0;
    text-align: center;
}

.NSF-input-container {
    display: flex;
    flex-direction: column;
    color: black;
}

.NSF-input-container input:invalid {
    border: solid hsl(0,100%,60%) 1.5px;
}

.NSF-submit {
    background: white;
    cursor: pointer;
    padding: 0.25em;
    border-radius: 5px;
    border: solid rgb(118, 118, 118) 1px;
}

.NSF-button-container {
    display: flex;
    justify-content: center;
}

.NSF-button-container img {
    width: 24px;
    height: 24px;
}

.NSF-button-container button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
}
