.control-bar { background: #222230; }
.content-container { background: #191927; }
.info-container { background: #262634; }
.side-bar { background-image: linear-gradient(#191925,#303040); }

input[type=range] {
    --background: #4D4D4F;
    --fill-color: #41B8DF;
}
