:root {
    --melo-blue: hsl(228, 31%, 36%);
}

.control-bar { background: #222230; }
.content-container { background: #191927; }
.info-container { background: #262634; }
.side-bar { background-image: linear-gradient(#191925,#303040); }

input[type=range] {
    --background: #4D4D4F;
    --fill-color: #41B8DF;
}

.fg-bright-melo-blue {
    color: #03A9F4;
}

.bg-melo-blue {
    background: var(--melo-blue)
}

.bg-dark-melo-blue {
    background: hsl(228, 31%, 23%);
}
